body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.version-select {
    margin: 10px;
    width: 155px;
}

.results {
  padding: 10px 0px;
}

ul, ol {
    margin: 5px 0px;
}

li {
    padding: 2px 0px;
}