@model FrameworkCompatibilityOutput
@{
    ViewData["Title"] = "Index";
}

<h1>NuGet Tools</h1>
<p>
    NuGet loves parsing strings. These tools provide insight into how these strings are parsed.
</p>
